[submodule "ether-wallet/lib/forge-std"]
	path = ether-wallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "english-auction/lib/forge-std"]
	path = english-auction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "english-auction/lib/solmate"]
	path = english-auction/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/solmate"]
	branch = v7
[submodule "english-auction/lib/openzeppelin-contracts"]
	path = english-auction/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dutch-auction/lib/forge-std"]
	path = dutch-auction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dutch-auction/lib/openzeppelin-contracts"]
	path = dutch-auction/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "crowd-fund/lib/forge-std"]
	path = crowd-fund/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
